#standings{
    width: 250px;
    height: 350px;
    margin-left: 40px;
    font-style: oblique;
}
#names{
    color: black;
    margin-left: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block
}