#standings{
    width: 250px;
    margin-left: 50px;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: 30px;
    white-space: nowrap; 
    padding-bottom: 10px;
    padding: 0px;
    border: 3px solid #000000;
    border-radius: 45px 15px 55px 15px;
    box-shadow: -10px 5px 20px rgba(0, 0, 0, 1.0);
    background: linear-gradient(-45deg, #aa4b6b, #6b6b83, #3b8d99);
    font-family: "Lato", sans-serif;
}
#img{
    height: 250px;
    width: 100%;
}
#names{
    color: black;
    margin-left: 10px;
    text-decoration: none;
    display: inline-block;
}
#list{
    background: linear-gradient(-45deg, #aa4b6b, #6b6b83, #3b8d99);
    font-family: "Lato", sans-serif;
}
#listCutted{
    background: linear-gradient(-45deg, #aa4b6b, #6b6b83, #3b8d99);
    font-family: "Lato", sans-serif;
    border-radius: 0px 0px 55px 15px;
}
#names:hover{
    cursor: pointer;
}