#standings{
    width: 250px;
    height: 440px;
    margin-left: 40px;
    font-style: oblique;
}
#img{
    height: 240px;
    width: 100%;
}
#names{
    color: black;
    margin-left: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block
}