.error{
    width: 100vw;
    height: 96vh;
    background-image: url("https://a.espncdn.com/photo/2021/0913/r908563_2_1296x729_16-9.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.error::after{
    position: absolute;
    content: " ";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    opacity: 0.5;
}
.error h1{
    font-size: 44px;
    width: 80%;
    margin: 0 10%;
    letter-spacing: 2.9px;
    font-family:'Roboto',sans-serif;
    color: aliceblue;
    position: absolute;
    top: calc(50% - 22px);
    z-index: 5;
}

.error h1:hover{
    color: lightskyblue;
}

@media screen and (max-width: 380px){
    .error{
        background-image: url("https://lh3.googleusercontent.com/Q-89ZHZwRqEdoI1byArQeuJPb__vvBUt48dOYegyacYAmQaG3-iqLQiRlkz5VmD70zPUzGzEA7YTepvRwdLwQmh_KO6e3ZP0FiwV8sSP_3PzHr4=s1500-pp");
        background-size: cover;
        background-position: center;
    }
    .error h1{
        top: 30vh;
        font-size: 40px;
    }
}