.meme-section{
    display: grid;
    grid-template-columns: 15% 1fr;
    grid-template-areas: 
    "buttons cards";
}

.all-meme-buttons{
    font-family: 'Roboto', sans-serif;
    line-height: 1.5rem;
    grid-area: buttons;
    padding: 0 5%;
    
}

.meme--cards{
    grid-area: cards;
}

.button-group{
    position: fixed;
    width: 20vw;
    top: 20%;

}

.sort-by{
    font-size: 20px;
    letter-spacing: 3px;
    font-weight: 900;
    margin-bottom: 10px;
    margin-top: 6px;
}


.create-meme{
    background-color: rgb(56, 55, 55);
    border:0.2em solid rgba(255,255,255,0);
    border-radius: 12px;
    color: aliceblue;
    width: 80%;
    margin: 0.2% 10%;
    padding: 5px 0;
}

.btn-popular,
.btn-date,
.btn-comments{
    border:0.2em solid rgba(255,255,255,0);
    color:aliceblue;
    background-color: rgb(56, 55, 55);
    width: 80%;
    margin: 1% 10%;
    border-radius: 12px;
    transition: color 400ms ease-in-out;
    overflow: hidden;
}


.btn-popular.popular,
.btn-date.newest,
.btn-comments.most-comments{
    background-color: rgb(42, 42, 236);
}

@media screen and (max-width: 380px) {
    .all-meme-buttons{
        font-size: 70%;
    }
    .sort-by{
        font-size: 100%;
    }
}