#cardPartial {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: 30px;
    white-space: nowrap; 
    border: 3px solid #000000;
    padding-bottom: 10px;
    border-radius: 25px 25px 15px 15px;
    background: linear-gradient(-45deg, #aa4b6b, #6b6b83, #3b8d99);
    font-family: "Lato", sans-serif;
}
  
#description{
    overflow: hidden;
    text-overflow: ellipsis;
}

.upBtn{
    width: 60px;
    display:inline-block;
    margin:0 0.1em 0.1em 0;
    border:0.16em solid rgba(255,255,255,0);
    border-radius:2em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:black;
    text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
    text-align:center;
    transition: all 0.2s;
    background-color:#84f14e
}
.downBtn{
    width: 60px;
    display:inline-block;
    margin:0 0.1em 0.1em 0;
    border:0.16em solid rgba(255,255,255,0);
    border-radius:2em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:black;
    text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
    text-align:center;
    transition: all 0.2s;
    background-color:#f14e4e
}

.detailsBtn{
    width: 60px;
    display:inline-block;
    margin:0 0.1em 0.1em 0;
    border:0.16em solid rgba(255,255,255,0);
    border-radius:2em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
    text-align:center;
    transition: all 0.2s;
    background-color:#4e9af1;
}

button:hover{
    border-color: black;
}

#img{
    height: 200px;
    width: 100%;
    border-radius: 21px 21px 0px 0px;
}

#text{
    overflow:auto;
}
#loginLink{
    color: black;
    margin-bottom: 0px;
    margin-left: 5px;
    display: inline-block;
}

#body{
    padding: 0px;
}

#detailsText{
    color: black;
    text-decoration: none;
    display: inline-block;
}
