#cardPartial {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: 20px;
    white-space: nowrap; 
    border: 3px solid #000000;
    border-image: fill;
}

#image{
    height: 300px;
}

#description{
    overflow: hidden;
    text-overflow: ellipsis;
}

.upBtn{
    border-radius: 5px;
    width: 85px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 5px;
    margin-right: auto;
    background-color:darkgreen
}
.downBtn{
    border-radius: 5px;
    width: 85px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 5px;
    margin-right: auto;;
    background-color:red
}

.detailsBtn{
    color: black;
    border-radius: 5px;
    width: 85px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;;
    background-color:rgb(111, 0, 255);
}

button:hover{
    background-color: rgb(186, 236, 93);
}

#loginLink{
    color: black;
    margin-left: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}