#cardPartial {
    width: 250px;
    margin-left: 50px;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: 30px;
    white-space: nowrap; 
    border: 3px solid #000000;
    padding-bottom: 10px;
}

#image{
    height: 250px;
    width: 100%;
}

#description{
    overflow: hidden;
    text-overflow: ellipsis;
}

.upBtn{
    border-radius: 5px;
    width: 60px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 5px;
    margin-right: auto;
    background-color:darkgreen
}
.downBtn{
    border-radius: 5px;
    width: 60px;
    margin-left: 5px;
    background-color:red
}

.detailsBtn{
    color: black;
    border-radius: 5px;
    width: 60px;
    margin-bottom: 0px;
    background-color:rgb(111, 0, 255);
}

button:hover{
    background-color: rgb(186, 236, 93);
}

#loginLink{
    color: black;
    margin-bottom: 0px;
    margin-left: 5px;
    display: inline-block;
}

#body{
    padding: 0px;
}
#details{
    margin-left: 0px;
    color: black;
}