.calendar{
    font-family: 'Audiowide', cursive;
    display:inline-block;
    margin-top: 5%;
    margin-left: 15%;
    background: linear-gradient(to right , #121F25, #111118);
    min-width: 350px;
    overflow: hidden;
    padding: 1% 2.5%;
    border-radius: 50px;
    vertical-align: top;
}
.calendar h2{
    text-align: center;
    margin-bottom: 2%;
    padding-bottom: 1%;
    color: white;
    font-size: 26px;
    border-bottom-style:solid;
    border-bottom-width: 4px;
    border-bottom-color: white;
}

.calendar td,
.calendar th{
    padding: 1%;
    line-height: 2.0rem;
    text-align: center;

}

.calendar tr{
    border-radius: 20px;
    margin-top:1.25%;
    overflow: hidden;
    background-color: rgb(240, 248, 255);
}
.calendar .status{
    width: 120px;
}

.calendar tr:hover{
    background-color: coral;
}


.confirmed{
    color:rgb(55, 155, 55);
}
.postponed{
    color: rgb(61, 57, 57);
}
.cancelled{
    color: red;
}
.status.completed{
    color:gold
}