@import url("./team-colors-leaderboard.css");

.flag{
    width: 7%;
    position: absolute;
    right: 10%;
    top: 20%;
    bottom: auto;
}

.others .team--logo.table{
    right: 20%;
}

@media screen and (max-width:380px) {
    .drivers--standings.livetable{
        padding: 7px
    }
    .leaderboards{
        padding-bottom: 100px;
    }
}