@import url("./team-colors-leaderboard.css");

.flag{
    width: 7%;
    position: absolute;
    right: 10%;
    top: 20%;
    bottom: auto;
}

.others .team--logo.table{
    right: 20%;
}

@media screen and (max-width:780px) {
    .drivers--standings.livetable{
        padding: 15px
    }
    .leaderboards{
        padding-bottom: 55px;
    }
}

@media screen and (max-width:500px) {
    .drivers--standings.livetable{
        padding: 17px;
        margin-left: 6px;
        margin-right: 0;
    }
    .leaderboards{
        padding-top: 30px;
        padding-bottom: 110px;
    }
}

