#standings{
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    font-style: oblique;
}

#tableHeader{
    color:aliceblue ;
    margin-left: 70px;
    font-style: oblique;
}
#radio{
    color:aliceblue ;
    margin-right: 80px;
    font-style: oblique;
}