#logout-tag:hover{
  cursor: pointer;
}

.active{
  font-weight: 900;
  text-transform: uppercase;
}

.nav-link:hover{
  font-weight: 900;
  text-transform: uppercase;
  box-shadow: -10px 10px 20px rgba(0, 0, 0, 0.9);
  border-radius: 15px;
}

#greeting{
  font-weight: 900;
}

#navbar-home{
   background: linear-gradient(-45deg, #aa4b6b, #6b6b83, #3b8d99);
  font-family:'Roboto',sans-serif;
}

#navbar-drivers{
   background: linear-gradient(+45deg, #aa4b6b, #6b6b83, #3b8d99);
  font-family:'Roboto',sans-serif;
}

#navbar-teams{
   background: linear-gradient(to top, #aa4b6b, #6b6b83, #3b8d99);
  font-family:'Roboto',sans-serif;
}

#navbar-legends{
   background: linear-gradient(to bottom, #aa4b6b, #6b6b83, #3b8d99);
  font-family:'Roboto',sans-serif;
}

#navbar-allMemes{
   background: linear-gradient(to right, #aa4b6b, #6b6b83, #3b8d99);
  font-family:'Roboto',sans-serif;
}

#navbar-calendar{
   background: linear-gradient(to left, #aa4b6b, #6b6b83, #3b8d99);
  font-family:'Roboto',sans-serif;
}

#navbar-liveStandings{
   background: linear-gradient(-45deg, #aa4b6b, #6b6b83, #3b8d99);
  font-family:'Roboto',sans-serif;
}
#navbar-myMemes{
   background: linear-gradient(+45deg, #aa4b6b, #6b6b83, #3b8d99);
  font-family:'Roboto',sans-serif;
}
#navbar-createMeme{
   background: linear-gradient(to right, #aa4b6b, #6b6b83, #3b8d99);
  font-family:'Roboto',sans-serif;
}
#navbar-login{
   background: linear-gradient(to left, #aa4b6b, #6b6b83, #3b8d99);
  font-family:'Roboto',sans-serif;
}
#navbar-register{
   background: linear-gradient(to top, #aa4b6b, #6b6b83, #3b8d99);
  font-family:'Roboto',sans-serif;
}
.fade.modal.show{
  width: 400px;
}
.modal-backdrop{
  margin: auto;
  visibility: hidden;
}
.modal{
  visibility: hidden;
  margin: auto;
}
.modal-content{
  font-family:'Roboto',sans-serif;
  border-radius: 25px;
  width: 400px;
  visibility: visible;
  background-color: #d45a43;
  border-color: #d45a43;
  border-width: 2px;
}
.modal-header{
  border-radius: 25px 25px 0px 0px;
  text-align: center;
  border-color: #d45a43;

}
.modal-body{
  color: white;
  font-size: 25px;
}
.modal-footer{
  border-radius: 0px 0px 25px 25px;
  background-color: white;
}
.btn-primary{
  background-color: #d45a43;
  border-color: #d45a43;
}