.navigation{
  position: fixed;
  display: inline-block;
  background-color: rgb(44, 43, 43);
  z-index: 40;
  color: aliceblue;
  width: 90%;
  margin: 5px 5%;
  border-style: solid;
  border-color: aliceblue;
  border-width: 2px 4px;
  border-radius: 18px;
  line-height: 1.5rem;
  padding: 0.4% 8%;
  font-size: 16px;
  font-family: 'Roboto Slab', serif;
}
.navbar-list,
.logged-in,
.logged-out,
.nav-item,
.nav-brand{
  display: inline-block;
}
.nav-link,
.nav-brand {
  color: aliceblue;
}

.logged-in,
.logged-out{
  border-left-style: solid;
  border-width: 4px;
}

.greeting{
  position:absolute;
  right: 4%;
  top: 25%;
  border-left-style: solid;
  border-width: 4px;
  padding-left: 1%;
}

.nav-brand:hover,
.nav-link:hover,
#logout-tag:hover{
  text-decoration: none;
  color: #4e9af1;
  cursor: pointer;
}






/* Modal */


/* .fade.modal.show{
  position:sticky;
  background-color: rgba(18, 18, 19, 0.99);
} */

.modal-content{
  display: inline-block;
  position:sticky;
  font-family:'Roboto',sans-serif;
  width: 300px;
  overflow: hidden;
  background-color: rgba(18, 18, 19, 0.97);
  visibility: visible;
  border-radius: 20px;
  padding: 5%;
  color: white;
  
}
.modal-backdrop{
  margin: auto;
  visibility: hidden;
}

.modal{
  visibility: hidden;
  margin: auto;
}

.modal-header{
  display: inline-block;
  border-style:none;
}

.modal-title{
  font-size: 150%;
}
.modal-body{
  border-style: none;
  display: inline-block;
  font-size: 100%;
  color: gray;
  font-weight: 500;
  line-height: 1.5rem;
  letter-spacing: 0.3px;
}

.modal-body:hover{
  color:white;
  font-size:102%;
}
.modal-footer{
  width: 100%;
  border-top-style: none;
  display: inline-block;
}
.btn-primary{
  width: 35%;
  margin-left: 5%;
  margin-right: 10%
}

.btn-secondary{
  width: 35%;
  margin-left: 10%;
  margin-right: 5%
}
