@keyframes load {
	0% {
		opacity: 0.08;
		
		filter: blur(2px);
		letter-spacing: 11px;
	}
	100% {
        letter-spacing: 73px;
	}
}

@keyframes loadSmall {
	0% {
		opacity: 0.08;
		
		filter: blur(2px);
		letter-spacing: 8px;
	}
	100% {
        letter-spacing: 11px;
	}
}

.animate {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	margin: auto;
	font-family:'Roboto',sans-serif;
	animation: load 1.2s infinite 0s ease-in-out;
	animation-direction: alternate;
	text-shadow: 0 0 1px white;
    height: 66vh;
	color: rgb(87, 85, 85);
    font-size: 90px;
}

@media screen and (max-width: 380px) {
	.animate{
		width: 60vw;
		font-size: 70px;
		animation: loadSmall 1.2s infinite 0s ease-in-out;
	}
}
