.registerForm{
    width: 350px;
    margin-top: 50px;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    color: #000000;
    font-size:larger;
    color: aliceblue;
    font-style:oblique;
}
 
.registerBtn{
    background-color: rgba(188, 204, 114, 0.952);
    border-radius: 5px;
  }